<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "de.stephanlempert.pg_check"
        versionCode="10" 
        version   = "1.0.0">

    <name>PhoneGap Check</name>

    <description>
        Check out phonegap build. 
    </description>

    <author href="http://www.stephanlempert.de" email="mail@stephan-lempert.de">
        Stephan Lempert 
    </author>
    
     <!-- ICONS -->
        
    <icon src="icon.png" /> <!-- default 72 pixels -->
        
    <!--icon src="img/icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" /> <!-- 36 pixels -->
    <!--icon src="img/icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" /> <!-- 48 pixels -->
    <!--icon src="img/icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" /> <!-- 72 pixels -->
    <!--icon src="img/icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> <!-- 96 pixels -->
    
     <!-- GENERAL PREFERENCES -->
        
    <preference name="phonegap-version" value="2.9.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" /> <!-- remove the upper bar on iOS and Android -->

</widget>